@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "List";
}

<h1 class="display-4 text-center">Quiz list</h1>

<div id="quizList">
    <div class="text-right w-100 mb-3">
        <a id="addQuiz" href="#" class="btn btn-success">Add Quiz</a>
    </div>
    <div class="list-group">
        @if (Model.quizzes.Count > 0)
        {
            @foreach (var quiz in Model.quizzes)
            {
                <div class="list-group-item p-3 d-flex justify-content-between">
                    <span>@quiz.Name</span>
                    <div>
                        <a asp-page="EditQuiz" asp-route-quizid="@quiz.ID" class="btn btn-primary">Edit</a>
                        <a asp-page="ViewQuizResponses" asp-route-quizid="@quiz.ID" class="btn btn-primary">View Responses (@quiz.Responses.Count)</a>
                        <a asp-page="AnswerQuiz" asp-route-quizid="@quiz.ID" class="btn btn-success">Answer</a>
                        <a id="deleteQuiz" data-quiz-id="@quiz.ID" href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="list-group-item p-3 d-flex justify-content-between">
                <span class="mx-auto">There are no quizzes yet! Press "Add Quiz" to create one.</span>
            </div>
        }
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', () => new Quiz.Home());
    </script>
}